.applied-jobs{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0 150px;
}
.applied-jobs-container{
	width: 100%;
}
.applied-jobs h1{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	color: #474747;
}