:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}

button {
  border-radius: 8px;
  border: none;
  padding: 19px 28px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(90deg, rgb(126, 144, 254) 0%, rgb(152, 115, 255) 100%);
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background: #646cffbd;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
